ADMIN_SECRET=
ANALYTICS_SALT=
CRON_SECRET=
META_API_VERSION=
META_CAPI_DRAIN_SECRET=
META_CAPI_TOKEN=
META_DPO=
META_DPO_COUNTRY=
META_DPO_STATE=
META_PIXEL_ID=
META_TEST_EVENT_CODE=
ORDER_SECURITY_SECRET=
RESEND_API_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_URL=
UPI_MERCHANT_CODE=
UPI_PAYEE_NAME=
UPI_STATUS_API_KEY=
UPI_STATUS_API_URL=
UPI_VPA=
UPI_WEBHOOK_SECRET=
SHIPROCKET_EMAIL=
SHIPROCKET_PASSWORD=
SHIPROCKET_PICKUP_LOCATION=
SHIPROCKET_CHANNEL_ID=
SHIPROCKET_LENGTH_CM=
SHIPROCKET_BREADTH_CM=
SHIPROCKET_HEIGHT_CM=
SHIPROCKET_ITEM_WEIGHT_KG=